/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* 

    COLORS
    dark-gray: 393E46
    light-gray: 5E5E5E
    clay: 929AAB
    light-gray: F7F7F7
    mud-green: 252E28
    light-mud-green: 2B3A31
    light-dull-green: 568669
    red: F00
    dark-blood: 570606
    sunshine: FFEF99
    lack: 242424
    light-red: #FF9C9C
    deep-sea: #040F3D
    pink: #FF87C1
*/

*
{
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

.view-border
{
    border: 1px violet solid;
}

.view-div
{
    background-color: rgba(238, 130, 238, 0.565);
}

.no-margin
{
    margin: 0 !important;
    padding: 0 !important;
}

.cust-bg-color-dark-gray
{
    background-color: #393E46;
}

.cust-color-dark-gray
{
    color: #393E46;
}

.cust-color-light-gray
{
    color: #5E5E5E;
}

.cust-color-black
{
    color: #000;
}

.cust-color-silver
{
    color: #C0C0C0;
}

.cust-bg-color-sunshine
{
    background-color: #FFEF99;
}

.cust-color-sunshine
{
    color: #FFEF99;
}

.cust-bg-color-deep-sea
{
    background-color: #040F3D;
}

.cust-color-deep-sea
{
    color: #040F3D;
}

.cust-bg-color-light-red
{
    background-color: #FF9C9C;
}

.cust-color-light-red
{
    color: #FF9C9C;
}

.cust-bg-color-pink
{
    background-color: #FF87C1;
}

.cust-color-pink
{
    color: #FF87C1;
}

.cust-bg-color-dark-blood
{
    background-color: #570606;
}

.cust-color-dark-blood
{
    color: #570606;
}

.cust-color-clay
{
    color: #929AAB;
}

.cust-bg-color-light-gray
{
    background-color: #F7F7F7;
}

.cust-bg-color-light-mud-green
{
    background-color: #2B3A31;
}

.cust-color-light-mud-green
{
    color: #2B3A31;
}

.cust-fs-10
{
    font-size: 10px;
}

.cust-w-30px
{
    width: 30px;
}

.cust-mt-60
{
    margin-top: 60px;
}

.a-decor-off
{
    text-decoration: none;
}

.div-divider-black-r-b
{
    border-right: 1px solid #000;
}

.featured-item-container
{
    min-width: 200px;
}

.card-layout-1 img
{
    position: relative;
}

.card-layout-1-text
{
    background-image: linear-gradient(180deg, transparent, #000);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10% 5% 5%;
}

.card-layout-2-text
{
    background-image: linear-gradient(180deg, transparent, #000);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10% 10%;
}

.cust-btn-1
{
    background-color: #F00 !important;
    color: #FFF !important
}

.cust-btn-2
{
    background-color: #fff !important;
    color: #000 !important
}

.cust-btn-3
{
    background-color: #000 !important;
    color: #fff !important
}

.cust-btn-4
{
    background-color: #570606 !important;
    color: #fff !important
}

.div-border-segment-black
{
    border-top: 2px #000 solid;
}

.box-shadow-silver
{
    box-shadow: 7px 7px #C0C0C0;
}

.box-shadow-lack
{
    box-shadow: 7px 7px #242424;
}

.w-fit-content
{
    width: fit-content;
}

.of-hide
{
    overflow: hidden;
}

.card-layout-2
{
    width: 49%;
}

.card-layout-3
{
    width: 30%;
    box-shadow: 7px 7px #C0C0C0;
    border: 1px #000 solid;
    transition: .4s;

    &:hover 
    {
        transform: scale(1.05);
        box-shadow: 10px 10px 5px #C0C0C0;
    }
}

.img-link img
{
    transition: .4s;
}

.img-link:hover img
{
    transform: scale(1.1);
}

.clicked
{
    background-color: #000;
    color: #FFF;
    transition: .4s;
}

.clicked-sports
{
    background-color: #570606;
    color: #FFF;
    transition: .4s;
}

.show-sm
{
    display: none;
}

.section-gallery
{
    min-width: 200px;
    max-width: 100%;
}

#health
{
    background-image: linear-gradient(180deg, #570606, #fff);
}

#local
{
    background-image: linear-gradient(180deg, #040F3D, #fff);
}

#weather
{
    background-image: linear-gradient(180deg, #FFEF99, #fff);
}

#showbiz
{
    background-image: linear-gradient(180deg, #FF87C1, #fff);
}
@media screen and (max-width: 1399px) {
    .card-layout-2
    {
        width: 100%;
    }   
}

@media screen and (max-width: 1300px) {
    .card-layout-3
    {
        width: 45%;
    }   
}

@media screen and (max-width: 900px) {
    .card-layout-3
    {
        width: 100%;
    }   
}

@media screen and (max-width: 1199px) {
    .div-divider-black-r-b
    {
        border-right: none;
        border-bottom: 1px #000 solid;
    }
}

@media screen and (max-width: 576px) {
    .hide-sm
    {
        display: none;
    }

    .show-sm
    {
        display: block;
    }
}